.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 246, 245);
}

@media only screen and (min-width: 1024) {
  .item {
    transform: scale(0.9);
    opacity: 0.9;
  }
}

.owl-carousel {
  height: 100%;
  overflow: hidden;
}

.active.center {
  -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
  filter: grayscale(0);
  z-index: 2;
}
.active {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.owl-slide {
  transition: all 450ms ease;
  transition-property: all;
  transition-duration: 450ms;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.owl-prev span,
.owl-next span {
  top: 10%;
  position: absolute;
  font-size: 80px;
  color: white;
  opacity: 0.6;
  padding: 0px 20px;
  transition: linear 0.25s all;
}
.owl-prev span:hover,
.owl-next span:hover {
  opacity: 1;
}

.owl-next span {
  right: 0;
}
