@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.app {
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  position: relative;
}

.overflow_none {
  overflow: hidden;
  height: 100vh;
}

body {
  overflow-x: hidden;
}
